#presentation
	.title.slide
		h1 Pleased to Meteor

	.slide
		img(src='img/morpheus.jpg')

	.slide
		img(src='img/motivation.jpg')

	.slide
		img(src='img/killbill.jpg')

	.slide
		img(src='img/chat.jpg')

	.slide
		img(src='img/ruby.png')

	.slide
		img(src='img/backbone.png')

	.slide
		img(src='img/rube-goldberg.gif')

	.slide
		img(src='img/swimmers.jpg')

	.slide
		img(src='img/node.png')

	.slide
		img(src='img/meteor.jpg')

	.slide
		img(src='img/money.jpg')

	.slide
		img(src='img/js.png')

	.slide
		img(src='img/share.png')

	.slide
		img(src='img/wall.jpg')

	.slide
		img(src='img/whoa.jpg')

	.slide
		img(src='img/reactive.jpg')

	.slide
		img(src='img/live.jpg')

	.slide
		img(src='img/spiderman.jpg')

	.slide
		img(src='img/php.jpg')

	.slide
		img(src='img/inception.jpg')

	.slide
		img(src='img/red-pill.jpg')